.section-about
    padding-top: 8rem
    margin-bottom: 5.4rem

.section-features
    height: 85vh
    background: linear-gradient(91.4deg, rgba(186, 133, 84, 0.7) 0.7%, rgba(1, 1, 1, 0.7) 98.8%), url(../img/features-bg.jpg) center / cover no-repeat
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%)
    padding-top: 21.6rem
    &__icon
        font-size: 6.2rem