.section-about
    padding-top: 8rem
    margin-bottom: 5.4rem
    @include respond (tab-port)
        margin-bottom: 40rem

.section-features
    background: linear-gradient(91.4deg, rgba(186, 133, 84, 0.7) 0.7%, rgba(1, 1, 1, 0.7) 98.8%), url(../img/features-bg.jpg) center / cover no-repeat
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%)
    @media ( min-resolution: 192dpi ) and (min-width: 670px), (min-width: 1340px)
        background: linear-gradient(91.4deg, rgba(230, 101, 8, 0.7) 0.7%, rgba(1, 1, 1, 0.7) 98.8%), url(../img/features-bg-2x.jpg) center / cover no-repeat
    padding-top: 21.6rem
    padding-bottom: 21.5rem
    @include respond (tab-port)
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%)
    @include respond (phone)
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%)
    &__icon
        font-size: 6.2rem

.section-feedback
    padding-top: 8rem
    position: relative
    overflow: hidden
    &__title
        position: relative
        z-index: 5
        color: #FFFFFF
        text-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.25)

.section-book
    padding: 10rem
    background: $color-gradient-brown-white
    @include respond (tab-land)
        padding: 5rem
    @include respond (phone)
        padding: 5rem 2rem

