@charset "UTF-8";
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes BtmToTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* line 2, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_base.sass */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_base.sass */
html {
  font-size: 62.5%;
}

/* line 10, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_base.sass */
body {
  padding: 5rem;
  background-color: white;
}

/* line 14, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_base.sass */
.main-container {
  background-color: #F7F7F7;
}

/* line 1, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777;
  letter-spacing: .2rem;
}

/* line 8, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
.title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 800;
}

/* line 13, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
.title-first {
  color: #FFFFFF;
}

/* line 15, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
.title-first__main {
  display: block;
  font-size: 5rem;
  line-height: 6rem;
  margin-bottom: 1rem;
  animation: leftToRight 2s ease .8s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

/* line 23, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
.title-first__secondary {
  display: block;
  font-size: 4rem;
  letter-spacing: .5rem;
  font-weight: 300;
  line-height: 4.8rem;
  margin-bottom: 6.5rem;
  animation: RightToLeft 2s ease .8s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

/* line 34, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
.title-secondary {
  display: inline-block;
  text-align: center;
  font-size: 3.6rem;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s;
  backface-visibility: hidden;
}

/* line 43, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_typography.sass */
.title-secondary:hover {
  transform-origin: 50% 20%;
  transform: perspective(77.5rem) rotateY(-25deg);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

/* line 1, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_utility.sass */
.text-aligh-center {
  text-align: center;
}

/* line 4, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/base/_utility.sass */
.mb-80px {
  margin-bottom: 8rem;
}

/* line 3, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.header__catalog-btn {
  animation: BtmToTop 2s ease .8s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

/* line 8, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.button {
  position: relative;
  font-size: 2rem;
  letter-spacing: .5rem;
  line-height: 2.4rem;
  color: #777777;
}

/* line 14, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.button:link, .button:visited {
  text-decoration: none;
  background-color: #F7F7F7;
  border-radius: 5rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  transition: all .8s;
}

/* line 18, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.button:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* line 21, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.button:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.9);
}

/* line 24, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.button:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* line 27, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/components/_button.sass */
.button::after {
  content: "";
  background-color: transparent;
  border: #F7F7F7 solid .1rem;
  width: 99%;
  height: 98%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}

/* line 3, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_header.sass */
.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-bg.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

/* line 8, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_header.sass */
.header__logo {
  width: 5.6rem;
  height: 7rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

/* line 14, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_header.sass */
.header__wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 1, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.row {
  max-width: 114rem;
  margin: 0 auto;
  background: #ff0b0b49;
}

/* line 5, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.row:not(:last-child) {
  margin-bottom: 8rem;
}

/* line 9, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/abstracts/_mixin.sass */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* ^ - выбирает только элементы начинающиеся на указанные символы; $ - фильтрует по окончанию, * - фильтрует по наличию символов в люблм месте */
/* line 10, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
[class^="col-"] {
  background: #6deb5388;
  float: left;
}

/* line 12, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
[class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

/* line 16, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

/* line 19, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

/* line 22, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.col-2-of-3 {
  width: calc((100% - 2 * 6rem) / 3 * 2 + 6rem);
}

/* line 25, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

/* line 28, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.col-2-of-4 {
  width: calc((100% - 3 * 6rem) / 4 * 2 + 6rem);
}

/* line 31, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/layout/_grid.sass */
.col-3-of-4 {
  width: calc((100% - 3 * 6rem) / 4 * 3 + 2 * 6rem);
}

/* line 1, ../../Desktop/Проекты/Материалы web-разработка продвинутый уровень/My-project-balloons/src/sass/pages/_home.sass */
.section-about {
  padding-top: 8rem;
}

/*# sourceMappingURL=style.css.map */