.main-nav
    &__toggle
        display: none
    &__button
        background-color: #FFFFFF
        width: 8rem
        height: 8rem
        border-radius: 50%
        position: fixed
        right: 9rem
        top: 9rem
        z-index: 200
        text-align: center
        cursor: pointer
        box-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.25)
    &__background
        width: 7rem
        height: 7rem
        border-radius: 50%
        background: radial-gradient($color-brown, $color-dark-brown)
        position: fixed
        right: 9rem
        top: 9.5rem
        z-index: 100
        transition: all .7s
    &__menu
        height: 100vh
        position: fixed
        top: 0
        right: 0
        z-index: 150
        opacity: 0
        width: 0
        transition: all .3s cubic-bezier(0.68, -0.6, 0.32, 1.6)
    &__list
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        list-style: none
        width: 100%
    &__list-item
        text-align: center
        text-transform: uppercase
        letter-spacing: 1rem
        color: #FFFFFF
        font-size: 4rem
        letter-spacing: .5rem
        font-weight: 300
        line-height: 4.8rem
        &:not(:last-child)
            margin-bottom: 6rem
    &__link
        &:link, &:visited
            text-decoration: none
            color: #FFFFFF
            background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%)
            background-size: 230%
            padding: 1rem 2rem
            transition: all .6s
            display: inline-block
        &:hover, &:active
            background-position: 100%
            color: $color-dark-brown
            transform: translateX(1rem)
    &__toggle:checked ~ &__background
        transform: scale(90)
    &__toggle:checked ~ &__menu
        width: 100%
        opacity: 1
    &__icon
        position: relative
        margin-top: 3.7rem
        &,
        &::before,
        &::after
            width: 3rem
            height: .2rem
            background: $color-black
            display: inline-block
        &::before,
        &::after
            content: ""
            position: absolute
            left: 0
            transition: all .2s
        &::before
            top: .8rem
        &::after
            top: -.8rem
    &__button:hover &__icon::before
        top: 1rem
    &__button:hover &__icon::after
        top: -1rem
    &__toggle:checked + &__button &__icon
        background: transparent
    &__toggle:checked + &__button &__icon::before
        top: 0
        transform: rotate(135deg)
    &__toggle:checked + &__button &__icon::after
        top: 0
        transform: rotate(-135deg)
            